.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 859px;
  padding: 15px 15px;
  margin: 0 auto;

  text-align: center;
  background-color: #e9f0f4;
}

.logo {
  color: orange;
  font-size: 32px;
  font-weight: 600;
  & span {
    color: rgba(33, 150, 243, 1);
  }
}
