.listNav {
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  padding: 8px 22px;
  margin-right: 36px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.174);
  background-color: #dddfe1;

  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #2a363b;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &.active {
    background-color: red;
    color: teal;
  }

  &:last-child {
    margin-right: 0;
  }
}

.active {
  background-color: red;
  color: teal;
}

.link:hover,
.link:active {
  transform: scale(1.02);
  background-color: #ccd3d7;
  color: rgba(33, 150, 243, 1);
}
